<%= form_for [@book, @post_comment] do |f| %>
    			<div class="row">
					<div class="col-sm-12">
            			<%= f.text_area :comment, rows:'5', class: "form-control" %>
            			<%= f.submit "送信" %>
      				</div>
    			</div>
    		<% end %>

    		<%= form_with(model: [book, post_comment]) do |form| %>
<div>
<%= f.text_area :post_comment_comment %>
</div>
<div class="actions">
<%= f.submit "送信" %>
</div>
<% end %>